.SearchComp{
    background: #FFFFFF;
    border: 1px solid #D7D7DF;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.MainHide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
    flex: 2;
}
.SearchMulti{

}
.SearchAssets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Button{
    background: #F7F8FA;
    border: 2px solid #573BFF;
    box-sizing: border-box;

    flex: 1;
    margin: 0 2vw 0 4vw;

    cursor: pointer;
    height: 100%;
    padding: 1vh 1vh;

    border-radius: 6px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #573BFF;
}
.AmountBarEdit{
    margin: 0 2rem;
    cursor:pointer;
}
.AmountBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1rem 1vh;
}
.AmountBar h1{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    color: #2A3256;
    margin: 0.5vh 0 1vh;
}
.AmountBar h1 span {
    color: #573BFF;
}
.FilterSort{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0.5vh;
}
.FilterSortItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem 1rem;
}
.FilterSortItem p{
    margin: 0.1rem 0;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    color: #979BB0;
}

@media only screen and (max-width: 800px) {
    .SearchAssetsMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 1;
    }
    .SearchAssets{
        display: none;
    }
    .Button{
        width: 100%;
        padding: 0.5vh 1vh;
        margin-top: 1vh;
    }
    .FilterSort{
        flex-direction: column;
    }
    .FilterSortItem{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0.8vh 0;
        width: 100%;
    }
    .FilterSortItem p{
        margin: 0 0;

        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        color: #979BB0;
    }
    .AmountBar{
        padding: 0;
        flex-direction: column;
    }
    .AmountBarEdit{
        align-self: flex-end;
    }
}
