.Main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 100vh;
    background: #FFFFFF;
    border-left: 1px solid #D7D7DF;
    box-sizing: border-box;
    padding: 4vh 2vw;
}

.Heading{

}
.Heading h1{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #2A3256;
}
.Heading p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #9095A2;
}

.Input{
    border: none;
    border-bottom: 1px solid #979BB0;
    flex: 1;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 1vh 0;
    color: #979BB0;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 1.2rem;
    outline: none !important;
}
.Input::placeholder{
    border: none;
    border-bottom: 1px solid #979BB0;
    flex: 1;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 1vh 0;
    color: #979BB0;
    margin-left: 2px;
    margin-right: 2px;
    outline: none !important;
}
.Button{
    background: #573BFF;
    border-radius: 5px;
    border: none;
    flex: 1;
    width: 100%;
    margin: 1rem 0 0;

    cursor: pointer;
    padding: 1.5vh 1vh;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.Footing{

}
.Hide{
    position: fixed;
    top: 20vh;
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    border: 1px solid #D7D7DF;
    border-right: 1px solid white;
    background-color: white;
    z-index: 10;

    cursor: pointer;
}
.timeBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.timeBox p{
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}












