.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F8FA;
    width: 100%;
    padding: 2vh 5vw;
}
@media only screen and (max-width: 800px) {
    .Header{
        padding: 2vh 10vw;
    }
}
